*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

#section-3{
    margin: 70px 0;
}
#section-3 .container{
 height: 100%;
}
#section-3 .about-top img{
    width: 100%;
}

#section-3 .about-bottom{
    width: 75%;
    margin-top: -5rem;
}



/* RESPONSIVE PART */

@media screen and (max-width:991px) {
    #section-3 .about-bottom {
        width: 100%;
        margin-top: 10px;
    }  
}