*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

#section-4{
    padding-top: 70px ;
}
#section-4 .container {
    height: 100%;
    
}
#section-4 img{
    width: 75%;
}

#section-4 .product-aside-top{
    
    margin-bottom: -4rem;
}

#section-4 .product-aside-bottom{
    width: 50%;
    margin-top: -4rem;
}



#section-4 .product-aside-top .card, #section-4 .product-aside-bottom .card {
    background: var(--beise);

}

/* RESPONSIVE PART */


@media screen and (max-width:991px){
    #section-4 img {
        width: 100%;
    }  
    #section-4 .product-aside-top{
        margin-bottom: 10px;
    }
    #section-4 .product-aside-bottom{
        width: 100%;
        margin-top: 10px;
    }
}