*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --chocolate:rgba(47, 23, 15, 0.9);
    --beise:#F6E1C5;
    --white: #ffffff;
    --yellow2:#E6A756;
    --whitesmoke:rgba(255, 255, 255, 0.7);
    --yellow-t:rgba(230, 167, 86, 0.9);
}

.taable ul li{
    border-bottom: 1px solid #E6A756;
    padding-top: 3px ;
}
°
.taable ul li p{
   font-style: italic;
   font-size: 17px;
}

.mid-section-2{
    width: 80%;
}
.taable ul li:nth-child(5){
    color:#E6A756 !important;
}

.bottom-content-texxt .bottom-up , .bottom-content-texxt .bottom-bottom  {
    line-height: 12px;
    font-size: 17px;
}

.bottom-content-texxt .bottom-up p:nth-child(1){
    font-weight: 800;
}


/* RESPONSIVE */
/* 
@media screen  and (max-width:991px) {
    .mid-section-2{
        width:70%;
    }  
} */
