*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

/* LINK GOOGLE FONT */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Variable color */

:root {
    --chocolate:rgba(47, 23, 15, 0.9);
    --beise:#F6E1C5;
    --white: #ffffff;
    --yellow2:#E6A756;
    --whitesmoke:rgba(255, 255, 255, 0.7);
    --yellow-t:rgba(230, 167, 86, 0.9);
}

/* banner website */

main {
    background-image:linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../images/banner0.jpg") ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: auto;
   
}
/* HEADER STYLLING */
header .title {
    line-height: 70px;
    padding: 70px 0;
    
}
header .title h1 {
    color: var(--yellow2);
    font-size: 2rem;
    font-weight: bolder;
}

header .title p {
    font-size: 5rem;
    font-weight: 100;
    color: var(--white);
    opacity: 0.8;
}

.navbar .navbar-toggler-icon  {
    color: white;
}




/* NAVBAR STYLLING */

.navbar-brand {
    color: var(--yellow2);
    font-weight: 700;
    font-size: 16px;
 
}



.navbar {
    background-color: var(--chocolate);
  
  
}

.navbar .navbar-brand{
    color: var(--yellow2) !important;
    display: none;
}

.navbar ul {
    padding: 15px 0;
    float: left;
}

.navbar ul li a {
    color: var(--whitesmoke) !important;
    font-size: 15px;
    font-weight: 800;
    margin: 0 20px;
}

.navbar-toggler  i {
    color: var(--white) !important;
}



                    /* BANNER STYLLING start*/
#section-1{
    width: 100%;
    height: 100%;
    margin: 70px 0;
    position: relative;
}

#section-1 .container{
    height:558px;
    
}


#section-1 .pannel-right img{
    width: 75%;
    border-radius: 3px;
}

#section-1 .left-pannel{
    width: 50%;
    z-index: 100;
    margin-top: -30rem;

}

.left-pannel .card{
    width: 100%;
    background: var(--beise);
   
   
}
#section-1 .title-card , #section-2 .title-card , #section-3 .title-about-card, #section-4 .product-aside-top .card {
    line-height: 40px;
}
#section-1 .title-card h2 , #section-2  h2 , #section-3  h2 , #section-4  h2{
    font-size: 16px;
    font-weight: 800;
    
}

#section-1 .title-card span , #section-2 span , #section-3 span ,#section-4 span{
    font-size: 3rem;
    font-weight: 100 !important;
    font-family: 'Raleway', sans-serif;
   
}

#section-1 .card-item p , #section-1 .card-item  .button-card, #section-2 p , #section-3 p , #section-4 p{
    font-family: 'Lora', serif;
    
}

#section-1 .card-item  .button-card{
 position: relative;
 margin-right: auto;
 margin-left: auto;
 bottom: -4rem;
  
}

#section-1 .card-item button{
    outline: none;
    border: none;
    background-color: var(--yellow2);
    padding: 25px 35px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
  
    margin-bottom:-4rem ;
 
}
/* BANNER STYLLING end*/



/* SECTION 2 STYLLING start*/

#section-2 {
   background-color: var(--yellow-t);
}

#section-2 .mid-section-2 {
    padding: 80px 0;
      position: relative;
      
}


#section-2 .card , #section-3 .card-about{
    background-color: var(--beise);
    
  
}

#section-2 .card-section-2::before{
    position: absolute;
    content: "";
    border: 4px solid var(--yellow2);
    border-radius: 7px;
    top:-9px;
    right: -9px;
    left: -9px;
    bottom: -9px;
}

/* SECTION 2 STYLLING end*/

/* FOOTER STYLLING start*/

footer {
    margin-top:70px ;
}

footer .footer-container {
    background-color: var(--chocolate);
    
}

footer .footer-container .title{
    padding: 40px 0;
}

footer .footer-container .title p {
    font-family: 'Lora', serif;
    font-size: 14px;
    color: var(--beise);
}

/* FOOTER STYLLING end*/



/* RESPONSIVE PART */

@media screen and (max-width:991px){
    main header{
        display: none;
    }

    .navbar-brand { 
       display: block !important;
    }

    .navbar ul li a{
        padding-left:0;
    }
  
    #section-1 .pannel-right img  {
        width: 100%;
    }

    #section-1 .left-pannel{
        width: 100%;
        float: inline-end;
        margin-top: 10px;
    
       
    }

    #section-1{
        margin-bottom: 270px;
    }

    #section-1 .left-pannel p{
        padding: 0 15px 0 15px;
    }
    
    #section-1 .card-item  .button-card{
        bottom: 0;
        position: relative;
        margin-right: auto;
        margin-left: auto;
    }


    #section-1 .card-item button {
        padding:20px 30px ;
    }

    #section .card-section-2 p {
        padding-left:20px ;
        padding-right: 20px;
    }
 
}  


/* @media screen and  (max-width:768px) {
    .left-pannel{
        margin-bottom:300px
    }
} */